    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
    }
    h1{
        font-size: 37px;
        font-weight: 800;
        color: midnightblue;
        padding-bottom: 30px;
    }
    
    p {
        color: rgb(116, 129, 143);
        font-size: 17px;
        font-weight: 400;
        padding: 30px;
        text-align: center;
        position: relative;
    } 
    #preloader {
        background-color: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        position: absolute;
    }
        
    .logoimage {
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        height: 75px;
        width: auto;
    }

    .ring {
        position: absolute;
        width: 240px;
        height: 240px;
        color: #000;
        border-radius: 50%;
        animation: ring 2s linear infinite;
    }

    @keyframes ring {
        0% {
        transform: rotate(0deg);
        box-shadow: 2px 5px 8px #ffc800;
        }
        50% {
        transform: rotate(180deg);
        box-shadow: 2px 5px 4px #19b900;
        }
        100% {
        transform: rotate(360deg);
        box-shadow: 2px 5px 4px #00a6ff;
        }
    }

    .ring:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }

    span {
        color: #737373;
        font-size: 27px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 200px; 
        animation: text 3s ease-in-out linear infinite;
    }

    @keyframes text {
        0% {
        color: #737373;
        }
        50% {
        color: white;
        }
    }

    nav {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        height: 75px;
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        box-shadow: 0 0 8px rgba(0,0,0,0.4);
    }
    
    .logoimage {
        width: auto;
        height: 75px;
        background-color: white;
        position: fixed;
        top: 0;
    }
    
    .nav-links {
        max-width: 1050px;
        align-items: baseline;
        position: fixed;
        right: 0;
        top: 0;
        
    }
    
    .nav-links ul li {
        list-style: none;
        padding: 10px 20px;
        display: inline-block;
    }
    
    .nav-links ul li a{
        color: midnightblue;
        text-decoration: none;
        font-size: 27px;
        font-weight: 600;
    }
    
    
.head {
    height: 45%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.8)), 
        url('https://www.istafrica.co.tz/uploaded/images_2017-18/web/IST_0025_copy.jpg');
    position: relative;
}

.bar {
    border-radius: 10;
    padding-bottom: 900px;
}

.bar ul {  
    background-color: white; 
    position: absolute;
    top: 37%;
    left: 9%;
    list-style: none;
    box-shadow:  7.1px 4.7px 8.8px rgba(0, 0, 0, 0.055),
    35px 23px 70px rgba(0, 0, 0, 0.11);
    z-index: 3;
}

.bar ul li {
    color: rgb(31, 31, 31);
    font-size: 19px;
    font-weight: 500;
    padding: 1em 130px 1em 40px;
    display: block;
    letter-spacing: 0.015em;
}

.bar ul li:first-child {
    background-color: #026f00;
    color: white;
    padding: 0.9em 0 .85em 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    
}

.bar ul li:hover {
    background-color: #026f00;
    color: white;
    transition: 0.2s;

}

.path ul {
    display: flex;
    float: right;
    position:absolute;
    top: 39%;
    left: 30%;
    color: white;
}

.path ul li {
    padding-left: 20px;
    list-style: none;
}

.path ul li a {
    text-decoration: none;
    font-weight: 400;
}

.content-1 {
    max-width: 68%;
    float: right;
    position: absolute;
    top: 48%;
    right: 5;
    line-height: 30px;
}

.content-1 h2 {
    color: midnightblue;
    font-size: 35px;
    font-weight: 700;
    padding-top: 30px;
}

.content-1 p {
    color: black;
    text-align: left;
    padding-bottom: 30px;
}

.content-1-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-block: 20px;
}

.content-2 {
    display: none;
}

    .footer {
        background-color: rgb(47, 61, 75);
        padding: 65px 0;
        line-height: 1.5;
    }
    
    .footer ul {
        list-style: none;
    }
    
    .container-row {
        display: flex;
        justify-content: center;
    }
    
    .footer-col {
        width: 25% 24% 25% 29% ;
        padding: 0 70px;
    }
    
    .footer-col h4 {
        font-size: 20px;
        color: white;
        margin-bottom: 30px;
        text-transform: capitalize;
        position: relative;
    }
    
    .footer-col h4::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: -10;
        background-color: rgb(0, 199, 0);
        height: 4px;
        width: 75px;
    }
    
    .footer-col ul li:not(:last-child) {
        margin-bottom: 7px;
    }
    
    .footer-col ul li {
        font-size: 17px;
        text-decoration: none;
        font-weight: 400;
        color: #bbbbbb;
        display: block;
    }
    
    .footer-col ul li a{
        font-size: 17px;
        text-decoration: none;
        font-weight: 400;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    
    .footer-col ul li a:hover {
        padding-left: 10px;
        color: white;
    }
    
    .footer-col .social-links a {
        font-size: 24px;
        display: inline-flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        margin: 0 10px 20px 0;
        text-align: center;
        line-height: 80px;
        height: 48px;
        width: 48px;
        background-color: rgb(255, 183, 0);
        border-radius: 50%;
        color: white;
        position: relative;
        transition: all 0.5s ease;
    }
    
    .footer-col .social-links a:hover {
        color: orange;
        background-color: white;
    
    }
    
    .underev {
        background-color: black;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    
    .underev h4{
        color: white;
        padding: 11px;
    }
    
    .myname {
        text-align: right;
        color: white;
    }

    #affiliates-boxes-container {
  display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.affiliate-box {
  display: block;
  color: transparent;
  width: 120px;
  height: 120px;
  padding: 3px;
  margin: 6px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.affiliate-box:hover {
  box-sizing:border-box;
  border: 2.5px solid orange;
  border-radius: 20%;
  transition: 0.3s;
}